# Node.js 
node_modules/
npm-debug.log

# Environment Variables
token.env

# Operating System Files
.DS_Store  # macOS
Thumbs.db  # Windows

# Text Editor Files
*.sublime-project
*.sublime-workspace

# IDE Files
.vscode/
.idea/

# Build Output 
dist/
build/