# Node.js 
node_modules/
npm-debug.log

# Environment Variables
test.env
token.env
*.env.local
*.env.development
*.env.test
*.env.production

# Operating System Files
.DS_Store  # macOS
Thumbs.db  # Windows

# Text Editor Files
*.sublime-project
*.sublime-workspace

# IDE Files
.vscode/
.idea/

# Build Output 
dist/
build/